
Reference_material/
# since I don't have publication rights on any of it

# Local/
# Modified with file paths etc to run on local machine
# Handled with separate .gitignore in Local directory

Simulations_Code/ScratchPaper.R
# Trying things out without messing up the main simulations code (convenience 
# functions for debugging, and becoming familiar with parts of R functionality)

